doctype html
html
  head
    title Гостиница Анастасия
style.
  form{
  background-color:#ffffff;
  width:70%;
  margin:0 auto;
  padding:15px;
  }
form(action='/findmyorder', method='post', target='myorder')
  fieldset
    label
      | Дата с:
      input(type='date', name='Dst')
    br
    label
      | Дата по:
      input(type='date', name='Den')
    br
    label
      button(type='submit') Поиск
      button(type='reset') Снять фильтр