doctype html
html
  head
    title Гостиница Анастасия
style.
  form{
  background-color:#ffffff;
  width:70%;
  margin:0 auto;
  padding:15px;
  }
form(action='/', method='post')
  fieldset
    label
      | Дата с:
      input(type='date')
    br
    label
      | Дата по:
      input(type='date')
    br
    label
      button(type='submit') Поиск
      button(type='reset') Снять фильтр