doctype html
html(lang="ru")
head
    title Гостиница Анастасия
frameset(rows='15%,80%')
    frame(src='logotype.pug', noresize='')
    frameset(cols='20%,80%')
        frame(src='menu.pug', noresize='')
        frame(src='notehotel.pug', name='osnovnoe', noresize='')