doctype html
html
  head
    title Гостиница Анастасия
table(border='1', bordercolor='grey', width='100%', cellpadding='10')
  tr
    th Дата заказа
    th Статус
    th Номер
  tr
    td(colspan='3') Заказы не найдены
