doctype html
html(lang='ru')
  head
    title Гостиница Анастасия
    meta(http-equiv='Content-Type', charset=utf-8)
    link(rel='stylesheet', href='css/stynotehotel.css')
  .logo
    img(src='imghotel.jpg')
  .content
   h2 Гостиница Анастасия
   p Это очень хорошая гостиница!
   p Очень, очень хорошая!!!
   p Самая лучшая гостиница в городе!!!